// .hihi{
//    border: 2px solid green;
//    width: 490px;
// }
.huhu{
   width: 490px;
   border: 1px solid black;
}
// .chine{
//     padding: 20px;
// }
td{
    padding-left: 21px;
    border:1.5px solid  ;}

// .haha1{
//     border: 1px solid;
//     display: flex;
//     justify-content: flex-start;
//     width:200px;
// }
.th1{
    width: 60px;
    border:2px solid green;
    height: 20px;
   
}
.th2{
    border: 2px solid green;
    width:150px ;
}
.th3{
    border: 2px solid green;
    width:80px ;
}
.th4{
    border: 2px solid green;
    width:200px;
}
.button3{
    background-color:chocolate;
    border-radius: 3px; 
}
.td1{
    width: 60px;
}
.td2{
    width:150px ;
}
.td3{
    width:80px ;
}
.print1{
    display: flex;
    justify-self: end;
}
.tong{
    width: 33%;
}